body {
    font-family: Impact, Charcoal, sans-serif;
    background-color: #adadad;
    margin: auto;
    width: 25%;
    border: 10px solid #83677B;
    padding: 10px;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 12px 1px;
    margin: 10px 0;
    display: inline-block;
    border: 5px solid #64485C(0, 0, 0);
    border-radius: 6px;
    box-sizing: border-box;
}
input[type="email"] {
    width: 100%;
    padding: 12px 1px;
    margin: 10px 0;
    display: inline-block;
    border: 5px solid #64485C(0, 0, 0);
    border-radius: 6px;
    box-sizing: border-box;
}
textarea[type="text"] {
    width: 100%;
    padding: 12px 1px;
    margin: 10px 0;
    display: inline-block;
    border: 5px solid #64485C(0, 0, 0);
    box-sizing:border-box;
}
button {
    margin-bottom: 10px;
    background-color: #64485C;
    border: solid;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    outline:none;
}
input[type="submit"] {
    background-color: #64485C;
    border: solid;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    outline:none;
}